---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
    <div>
        <div class="text-3xl w-full font-bold mb-5">My OpenSource Projects</div>
    </div>

    <HorizontalCard
        title="EzMs-Frontend"
        img="https://repository-images.githubusercontent.com/733384623/1292b76c-542b-46d1-89fb-0e1840f67e50"
        desc="A Clean, simple Frontend made to manage the CMS API using React and Typescript"
        url="https://github.com/harshpatel5940/ezms-frontend"
        badge="CMS-Frontend"
        tags={["TypeScript", "React", "CMS", "Website", "Frontend"]}
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="EzMs-Backend"
        img="https://repository-images.githubusercontent.com/654061696/0dac8f4c-53e9-4ca9-823e-df9afd606b4d"
        desc="Robust Backend for an Content Management System made using NestJs and TypeScript"
        url="https://github.com/harshpatel5940/ezms-backend"
        badge="Backend-API"
        tags={["TypeScript", "NestJs", "CMS", "API", "PostgreSQL"]}
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Discord Helper Bot"
        img="https://repository-images.githubusercontent.com/451373966/9d750ab6-a9d5-472c-b8f5-a37c0ce43ba4"
        desc="A Custom Utility Discord Bot made using Discord.js and TypeScript"
        url="https://github.com/harshpatel5940/discord-helper-bot"
        badge="Discord-Bot"
        tags={["TypeScript", "Discord.js", "Node.js", "MongoDB"]}
    />
</BaseLayout>
