---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Services</div>
    </div>

    <HorizontalCard
            title="Fix Your Discord Server"
            img="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/236279504/original/01ec64a7cbbd69538cb9375ed47033296bda3734/create-custom-discord-bot-for-you.png"
            desc="Problems with your discord server? I got you covered."
            badge="POPULAR"
            url="https://www.fiverr.com/s/4NBX2m"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
            title="Make an Restfull API using NestJs and TypeScript"
            img="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/346973683/original/84c8663a5622a3e418057a20b59a2412f4277afa/build-restful-api-using-typescript-and-nestjs.jpg"
            desc="Craft Seamless Backends specifically for your needs."
            url="https://www.fiverr.com/s/bgZ5XX"
            badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
            title="Make You a Custom Discord Bot"
            img="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs3/236279504/original/60852ba35908da7387b9d26dce97234ff793df09/create-custom-discord-bot-for-you.png"
            desc="I will make a Custom Discord Bot For Your community."
            url="#"
    />
</BaseLayout>
