---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
    <div class="pb-2">
        &copy; {today.getFullYear()} Harsh Patel
    </div>
    <div class="inline opacity-75">
        <a href="mailto: iam.harshnpatel@gmail.com">Contact: iam.harshnpatel@gmail.com</a>
    </div>
    <br/>
    <div class="inline opacity-50 text-xs">
        <a href="https://github.com/HarshPatel5940/" target="_blank" class="font-bold">My Github</a>
    </div>
</footer>
<style>

</style>
